.institution{
    float: right;
    padding: 15px;
    margin-right: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70%;
    border: 0.5px solid lightblue;
    margin-top: 2.5%;
}

.institution_single{
    border: 0.5px solid lightblue;
    padding: 15px;
}

.home{
    text-align: center;
    height: 75%;
    width: 70%;
    padding: 15px;
    margin-left: 5%;
    margin-top: 5%;
}

.detail{
    display: flex;
    justify-content: flex-start;
    height: 75%;
    width: 70%;
    padding: 15px;
    margin-top: 2%;
}

.home h1{
    padding-bottom: 15px;
}

.home h3{
    padding-bottom: 15px;
}

.form-group{
    width: 60%;
    display: inline-block;
    justify-content: center;
}

.form-control{
    margin-bottom: 15px;
}

.title{
    align-items: center;
    padding: 15px;
    background-color: lightgray;
}

.title h1{
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.form_add{
    width: 50%;
    padding-left: 15px;
}

.form_title{
    padding-left: 15px;
}

.form_save{
    padding-left: 15px;
}

.site_name{
    color: inherit;
    text-decoration: none;
}

.instituicao_info{
    width: 75%;
    height: 350px;
    margin-left: 5%;
}

.instituicao_pic{
    width: 125px;
    height: auto;
    border-radius: 50%;
    border: 1px solid lightslategrey;
}

.info_detail{
    width: 40%;
    text-align: center;
}