<html>

<head>
    <title>IT - Intelligent Timetabling</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<div class="title">
    <h1>
        Intellgent Timetabling
    </h1>
</div>
<div class="institution">
    {%for instituicao in instituicoes %}
    <div class="institution_single">
        <h2>
            <a href=#>{{instituicao.nomeInstituicao}}</a>
        </h2>
        <p>Licença: {{instituicao.licencaInstituicao}}</p>
        <p><a href="#">Ver tabela</a> | <a href="#">Editar</a> | <a href="#">Excluir</a></p>
    </div>
    {% endfor %}
</div>
<div>
    Hello There!
</div>


</html>