{% extends 'iTimetabling/layout.html' %} {% block content %}
<div class="detail">
    <div class="container">
        <div class="jumbotron  instituicao_info">
            <div class="info_detail">
                <img class="instituicao_pic" src="/static/img/default-user.png">
                <h2>{{instituicao.nomeInstituicao}}</h2>
                <label>Licença: </label>
                <span>{{instituicao.licencaInstituicao}}</span>
            </div>
        </div>
        <div class="opcoes">
            <div class="btn-group instituicao_info" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Professores
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Requisitos</a>
                        <a class="dropdown-item" href="#">Preferências</a>
                    </div>
                </div>
            </div>
            <div class="btn-group instituicao_info" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Alunos
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Turmas</a>
                        <a class="dropdown-item" href="#">Horários</a>
                    </div>
                </div>
            </div>
            <div class="btn-group instituicao_info" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Salas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Inventário</a>
                        <a class="dropdown-item" href="#">Disponibilidade</a>
                    </div>
                </div>
            </div>
            <div class="btn-group instituicao_info" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Laboratórios
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Inventário</a>
                        <a class="dropdown-item" href="#">Disponibilidade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}