{% extends "iTimetabling/layout.html" %}

{% block content %}
<div class="institution">
    {%for instituicao in instituicoes %}
    <div class="institution_single">
        <h2>
            <a href='{% url 'instituicao_detail' pk=instituicao.pk %}'>{{instituicao.nomeInstituicao}}</a>
        </h2>
        <p>Licença: {{instituicao.licencaInstituicao}}</p>
        <p>
            <a href="#">Ver tabela</a> |
            <a href="{% url 'instituicao_edit' pk=instituicao.pk %}">Editar</a> |
            <a href="#">Excluir</a>
        </p>
    </div>
    {% endfor %}
</div>



<div class="home">
    <h1>O que é o Intelligent Timetabling?</h1>
    <h3>
        O Intelligent Timetabling é um programa para solucionar problemas em tableas de horários escolares. Feito em Python, utilizando meta-heurísticas e inteligência artificial.
        O IT pretende facilitar a montagem de agendamento de maneira rápida e eficaz.
    </h3>
    <h3>
        Comece a usar! Cadastre sua instituição.
    </h3>
    <a href="{% url 'instituicao_new' %}" class="btn btn-primary">Adicionar instituição</a>
</div>
{% endblock %}