<html>

<head>
    <title>IT - Intelligent Timetabling</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="title">
        <h1>
            <a class="site_name" href="{% url 'instituicao_list' %}">Intellgent Timetabling</a>
        </h1>
    </div>
    {% block content %}
    
    {% endblock  %}
</body>

</html>